@import "tailwindcss";

.nav-link {
  @apply text-sm font-medium text-gray-700 hover:text-indigo-600 transition;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Utility to hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes slide-up {
          from {
            transform: translateY(100%);
          }
          to {
            transform: translateY(0);
          }
        }
        .animate-slide-up {
          animation: slide-up 0.3s ease-out;
        }